[submodule "shared_control"]
	path = shared_control
	url = https://github.com/uob-erl/shared_control.git
[submodule "hrt_entropy"]
	path = hrt_entropy
	url = https://github.com/uob-erl/hrt_entropy.git
[submodule "husky"]
	path = husky
	url = https://github.com/uob-erl/husky.git
[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
